@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');


.user-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    /* 이미지 비율 유지하며 채우기 */
    margin-right: 5px;
}

#menu_bar {
    visibility: hidden;
}

.dropdown-btn {
    background: none;
    border: none;
    color: rgb(72, 68, 68);
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 30px;
}

/* 기본 스타일 초기화 */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 128rem;
    margin: 0 auto;
    padding-top: 10rem;
}

h2 {
    width: 100%;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.8rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
    box-sizing: border-box;
}

input[type="checkbox"] {
    flex-shrink: 0;
    width: 1.6rem !important;
    height: 1.6rem !important;
    margin: .4rem .6rem .4rem .4rem;
    position: relative;
    top: auto;
    left: auto;
    border: 0 none !important;
}

input::placeholder {
    font-size: 1.6rem;
    color: #777;
}

body {
    font-family: 'NanumSquare', sans-serif, Arial;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    line-height: 1.6;
    color: #555;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.form-entire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    align-self: stretch;
    width: 100%;
    height: auto;
    padding: 6rem 9rem;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    margin-top: 4rem;
}

legend {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-weight: 400;
    font-size: 15px;
    position: absolute;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 2rem;
    width: 70rem;
    border: 1px solid #d1d1d1;
    border-radius: 5.6px;
    box-sizing: border-box;
}

label {
    display: flex;
    align-items: flex-start;
    position: relative;
    top: auto;
    left: auto;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #000;
    box-sizing: border-box;
    vertical-align: baseline;
}

input {
    width: 100%;
    background-color: #fff;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1.7rem;
    font-size: 1.6rem;
    border-radius: 5.6px;
    border: 1px solid #d1d1d1;
    padding: 06px;
    vertical-align: middle;

}


input,
select {
    font-size: 100%;
    line-height: 1.15;
}

fieldset {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    position: relative;
    margin-inline: 2px;
    padding-inline: 0.75em;
    padding-block: 0.35em 0.625em;
    box-sizing: border-box;
    border: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;

}

.vertical-line {
    flex-direction: column !important;

}

.icon-buttons {
    flex-direction: row !important;
}

button {
    flex-direction: column;
}

fieldset[data-align_content=row] [data-field_content] {
    flex: 1;
    align-items: flex-start;
    margin-left: 18rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
}

legend {
    width: 18rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
    text-align: right;
    line-height: 2.4rem;
    margin-top: 0 !important;
    box-sizing: border-box;
}

.one-line {
    flex: 1;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
}

.two-line {
    max-width: 100%;
    display: flex;
    margin-top: 1.8rem;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    margin-top: 4rem;

}


.max-input {
    flex: 1;
    margin-inline-end: 0px;

    margin-bottom: 1.8rem;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100% !important;
    /* margin-left를 제외한 너비 설정 */
    align-items: flex-end;
}

.book-info-textarea {
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
    border: 1px solid #d1d1d1;

}

/* 헤더 */
#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* 로고 */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #444;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}







/*게시판 폼*/

/* 사용자 정보 컨테이너 */
.user-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 드롭다운 메뉴 */
/* 기본 스타일 */
:root {
    --select_dowm: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Crect width='26' height='26' rx='4' fill='%23EEEEEE'/%3E%3Cpath d='M17 10.6C17 10.264 16.78 10 16.5 10H9.5C9.22 10 9 10.264 9 10.6C9 10.756 9.05 10.888 9.13 10.996L12.63 15.796C12.72 15.916 12.85 16 13 16C13.15 16 13.28 15.916 13.37 15.796L16.87 10.996C16.95 10.888 17 10.756 17 10.6Z' fill='%238B8B8B'/%3E%3C/svg%3E");
    --radio_checked: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Ccircle cx='8' cy='8' r='7.5' fill='white' stroke='%230470F7'/%3E%3Ccircle cx='8' cy='8' r='4' fill='%230470F7'/%3E%3C/svg%3E");
}

[data-selectbox] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

[data-selectbox] select {
    display: none;
}

[data-selectbox] [data-select_list] {
    max-height: 20rem;
    overflow-y: scroll;
}

[data-selectbox] [data-select_list] li {
    flex-shrink: 0;
    width: 100%;
    height: 4rem;
}

[data-selectbox] [data-select_list] input[type=radio] {
    display: none;
}

[data-selectbox] [data-select_list] [data-label] {
    align-items: center;
    width: 100%;
    height: 100%;
}

[data-select] {
    height: 4rem;
    padding: .9rem 3.3rem .9rem 1.2rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0 none;
    font-size: 1.6rem;
    text-align: left;
    background-position: right .7rem center;
    background-repeat: no-repeat;
}

[data-select]:disabled {
    border: 1px solid #d8d8d8;
    background-color: #fdfdfd;
    cursor: no-drop;
}

[data-select=open] {
    border-color: var(--ofm);
}

[data-select=open]+ul[data-select_list] {
    display: flex;
    /* 카테고리 리스트가 보이도록 설정 */
}

ul[data-select_list] {
    display: none;
    /* 기본적으로 리스트 숨기기 */
    flex-direction: column;
    width: 100%;
    padding: .4rem;
    position: absolute;
    left: 0;
    top: 4.4rem;
    border: 1px solid #eee;
    background-color: #fff;
    z-index: 1;
}

ul[data-select_list] li {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 .5rem;
    border-radius: 5.6px;
}

ul[data-select_list] li:hover {
    background-color: #eee;
}

ul[data-select_list] li:hover * {
    color: var(--ofm2);
}

ul[data-select_list] li input:checked+span {
    color: var(--ofm2);
}

[data-select_list] {
    max-height: 34.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

[data-select_list].visible {
    display: block;
    /* 리스트가 보이게 하기 위한 스타일 */
    position: absolute;
    z-index: 100;
}

[data-select_list] li {
    padding: 10px;
    cursor: pointer;
}

[data-select_list] li:hover {
    background: #f0f0f0;
}

[data-select] {
    background-image: var(--select_dowm);
    width: 100%;
    height: 4rem;
    padding: .9rem 3.3rem .9rem 1.2rem;
    cursor: pointer;
    appearance: none;
    outline: 0 none;
    font-size: 1.6rem;
    text-align: left;
    background-position: right .7rem center;
    background-repeat: no-repeat;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    flex-direction: column;
}

.dropdown-category,
[data-selectbox] {
    width: 20rem;
}

.one-line,
[data-selectbox] {
    margin-right: .8rem;
}

.dropdown-category ul {
    list-style-type: none;
    /* 기본 리스트 스타일 제거 */
    background-color: #f9f9f9;
    /* 배경색 */
    border: 1px solid #ddd;
    /* 테두리 */
    padding: 10px;
    /* 내부 여백 */
    margin: 5px 0;
    /* 위아래 간격 */
}

.dropdown-category ul li {
    padding: 5px;
    /* 리스트 아이템 내부 여백 */
    border-bottom: 1px solid #eee;
    /* 구분선 */
}

.dropdown-category ul li:last-child {
    border-bottom: none;
    /* 마지막 아이템은 구분선 없음 */
}

/* 게시판 글쓰기(board_form.php) */
#board_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    align-self: stretch;
    width: 100%;
    background: #fff;
    padding: 6rem 9rem;
    height: auto;
    border: 1px solid #d1d1d1;
    border-radius: 5.6px;
    margin-top: 0 !important;
    box-sizing: border-box;
    vertical-align: baseline;
}

#board_box h3 {
    margin-top: 30px;
    padding: 10px;
    border-bottom: solid 3px #4b382a;
    font-size: 20px;
}

span {
    margin-left: .2rem;
}

span[data-color=red] {
    color: #d63030;
    background-color: #fce3d5;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 2rem;
    padding: 0 .8rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 2.8px;
    box-sizing: border-box;
    vertical-align: baseline;
}

#board_form .col1 {
    width: 150px;
}

#board_form li {
    padding: 12px;
    border-bottom: solid 1px #dddddd;
}


#board_form input:focus {
    border-color: #4b382a;
    /* 포커스 시 테두리 검정색 */
    background-color: #fff;
    /* 포커스 시 배경색 흰색 */
}


.buttons {
    text-align: right;
    margin: 20px 0 40px 0;
}

.buttons li {
    display: inline;
}

.buttons button {
    padding: 5px 10px;
    cursor: pointer;
}

#board_list .col6 {
    width: 50px;
}


.recommend-btn {
    background-color: transparent;
    color: #333 !important;
    padding: 10px 20px !important;
    font-size: 20px !important;
    cursor: pointer !important;
    transition: background-color 0.3s, transform 0.2s !important;
    outline: none !important;
    border: transparent !important;
}

/* 선택된 버튼 스타일 */
.recommend-btn.selected {
    background-color: #4b382a !important;
    color: #eee;
    border-color: #4b382a !important;
}

.recommend-btn:hover {
    transform: scale(1.05) !important;
}

.write-board,
.brown {
    background-color: #ffffff;
    color: #4b382a;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid #4b382a;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 55px;
}

.write-board:hover .brown:hover {
    background-color: #4b382a !important;
    color: #ffffff !important;
}

.brown {
    margin-bottom: 20px;
    margin-top: 0px;
}

.brown2 {
    background-color: #4b382a;
    color: #ffffff;
    padding: 0px 0px;
    font-size: 15px;
    border: 2px solid #4b382a;
    border-radius: 10px;
    cursor: pointer;
    width: 80px;
    height: 30px;
}


/* 전체 컨테이너 */
.recolocation {
    list-style-type: none;
    /* 기본 li 스타일 제거 */
    padding: 0;
    margin: 0;
}

/* 개별 행 */
.row {
    display: flex;
    align-items: center;
    /* 세로 정렬 */
    margin-bottom: 10px;
    /* 행 간 간격 */
}

.recolocation .col1 {
    flex: 0 0 120px;
    /* 고정 너비 */
    text-align: left;
    /* 텍스트 오른쪽 정렬 */
    padding-right: 10px;
    /* 내용과 간격 확보 */
    font-weight: bold;

}

/* 값 (col2) */
.recolocation col2 {
    flex: 1;
    /* 나머지 공간 차지 */
    text-align: left;
    /* 텍스트 왼쪽 정렬 */
}

/*체크박스*/

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5열로 나열 */
    gap: 0px;
    /* 항목 간 간격 */
}

label {
    display: flex;
    align-items: center;
    margin: 0px;
    /* 체크박스와 텍스트 수평 정렬 */
}