@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');


/* 기본 스타일 초기화 */
* {
    font-family: 'NanumSquare';
}

#footer-content {
    min-height: 100vh;
    position: relative;
    width: 100%;
}

footer {
    width: 100%;
    height: 110px;
    bottom: 0px;
    position: absolute;
}

footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #ffffff;
    font-size: 11px;
}

footer a:visited {
    color: #ffffff;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

footer p span {
    display: inline-block;
    margin-left: 20px;
}