@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');


/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumSquare';

}

body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: #111; /* 배경색 어둡게 */
    color: #ddd; /* 기본 텍스트 색상 밝게 */
}

html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    justify-content: center;
}


/* 메인 배너 섹션 */
.main-banner {
    position: relative;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* 완전히 투명 */
        transform: translateY(20px); /* 약간 아래에서 시작 */
    }
    100% {
        opacity: 1; /* 완전히 보이도록 */
        transform: translateY(0); /* 제자리 */
    }
}
@keyframes darkenVideo {
    0% {
        filter: brightness(1); /* 원래 밝기 */
    }
    100% {
        filter: brightness(0.4); /* 어두워짐 */
    }
}
.main-banner .banner-video {
    animation: darkenVideo 3.5s ease-in forwards;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main-banner .banner-text {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards; 
    animation-delay: 0.5s;
}
.main-banner .banner-text h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: 'NanumSquareLight';

}
.main-banner .banner-text .main-banner-text {
    font-size: 2.0rem;
    font-family: 'NanumSquare';
}
.main-banner .banner-text .sub-banner-text {
    font-size: 1.5rem;
    font-family: 'NanumSquare';

}


.main-down {
    position: absolute;
    bottom: 20px; /* 섹션의 하단에서 20px 위로 */
    left: 50%;    /* 섹션의 가로 중앙 기준으로 이동 */
    transform: translateX(-50%); /* 버튼을 정확히 가운데 정렬 */
}
@keyframes blink {
    0%, 100% {
        opacity: 1; /* 보임 */
    }
    50% {
        opacity: 0; /* 숨김 */
    }
}
.view-more {
    width: 80px;
    height: auto;
    animation: blink 1.5s infinite;
    animation-delay: 5s;
}

/* 인기 도서 섹션 */
.popular-books {
    background: transparent; /* 배경 어둡게 */
    text-align: center;
    padding: 40px 20px; /* 패딩 추가 */
    color: #fff;
}

.popular-books h2 {
    font-size: 2.0rem;
    margin-bottom: 20px;
}

.popular-books .book-slider {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.popular-books .book {
    background: transparent;
    border: 0px solid #444;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.popular-books .book:hover {
    transform: scale(1.05);
}

.popular-books .book img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* 2. 카테고리 섹션 */
.categories {
    background: #111; /* 카테고리 배경 어둡게 */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position:relative;
}

.catetitle {
    font-size: 2.0rem;
    left:50%;
    transform: translateX(-50%);    
    position:absolute;
    top: 80px;
    margin: 0;
}

.category-slider-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 50px;
}

.category-slider {
    display: flex;
    gap: 20px;
    margin-left:250px;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    position: relative;
    flex: 0 0 30%; /* 슬라이더 아이템의 너비 */
    text-align: center;
    overflow: hidden;
    opacity: 0.3; /* 양옆 아이템 흐릿하게 */
    transform: scale(0.7); /* 크기 축소 */
    transition: transform 0.5s, opacity 0.5s;
    border-radius: 15px; /* 이미지와 동일한 둥근 모서리 */
}
.slider-item.active {
    opacity: 1; /* 중앙 아이템 강조 */
    transform: scale(1); /* 크기 원래대로 */
}

.image-wrapper {
    position: relative; /* 오버레이의 기준이 되는 부모 요소 */
    width: 90%;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율 유지 및 잘림 방지 */
    border-radius: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 검정색 반투명 */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* 기본적으로 숨김 */
    transition: opacity 0.3s ease;
}

.image-wrapper:hover .overlay {
    opacity: 1; /* 마우스 호버 시 오버레이 표시 */

}

.overlay p {
    color: #fff;
    font-size: 10px;
    transform: translateX(5%);

}

.slider-item p {
    margin-top: 20px;
    margin-left:-30px;
    font-size: 1.5rem;
    color: #ddd;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(43, 43, 43, 0.8);
    border-radius: 50%;
    color: #d6d3d3;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.slider-dots {
    display: flex;
    justify-content: center;
}

.slider-dots .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.slider-dots .dot.active {
    background: #646464;
}

/* 독서 캘린더 섹션 */
.calendar{
    position:relative;
    background-color: #111;
}
.calentitle {
    font-size: 2.0rem; /* 폰트 크기 설정 */
    color: #ffffff;
    text-align: center;
    left:50%;
    transform: translateX(-50%);    
    position:absolute;
    top: 80px;
    margin: 0;
}

.calendar-preview {
    padding: 20px;
    text-align: center;
    transform: translateY(50px); /* 기본적으로 아래 위치 */
    opacity: 0; /* 투명도 0 */
    transition: all 0.8s ease-out;
}
.calendar-preview.visible {
    opacity: 1;
    transform: translateY(0);
}
.calendar-preview p {
    font-family: '돋음';
    font-style: italic;
    font-weight: lighter;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #666;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.0s ease-out 0.2s; /* p 태그에 약간의 지연 */
}
.calendar-preview.visible p {
    opacity: 1;
    transform: translateY(0);
}
.calendar-preview .btn {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 10px;
    display: inline-block;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out 1.3s;
}
.calendar-preview.visible .btn {
    opacity: 1;
    transform: translateY(0);
}

.calendar-preview .btn:hover {
    background-color: #000000
    ;
    transform: scale(1.10); /* 약간 확대 */
}

/* 스크롤 애니메이션 */
.observe {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

.observe.visible {
    opacity: 1;
    transform: translateY(0);
}


/* 반응형 처리 */
@media (max-width: 768px) {
    .calentitle {
        font-size: 1.5rem;
    }

    .calendar-preview {
        padding: 15px;
    }
}
