body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

#calendar-container {
    display: flex;
    width: 100%;
    position: relative;
}

#calendar {
    width: 70%;
    background-color: #f9f9f9;
    padding: 10px;
}

#detail-panel {
    width: 30%;
    background-color: #ffffff;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

#detail-panel.hidden {
    transform: translateX(100%);
}

#close-panel {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-size: 14px;
    font-weight: bold;
}

form input, form textarea, form select {
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#bookInfoDisplay {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bookInfoDisplay img {
    max-width: 80%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
}

button:hover {
    background-color: #0056b3;
}
